<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portal INTERPOLcase</title>

		<link rel="stylesheet" th:href="@{/css/portal.css}" />
	</head>
	<body>
		<div class="content-menu">
			<div class="cnt-img-menu">
				<a class="logontpl" th:href="@{/INTERPOLcase}"><img src="/images/INTERPOL-Logo.png" alt="awd" /></a>
			</div>
			<hr class="line-divide" />
			<div class="cnt-tittle-menu"><a href="">Consulta de avisos</a></div>
			<hr class="line-divide" />
			<div class="cnt-tittle-menu"><a href="">Detalles de los casos</a></div>
			<hr class="line-divide" />
			<div class="cnt-tittle-menu"><a href="">Analisis de datos</a></div>
			<hr class="line-divide" />
			<div class="cnt-tittle-menu"><a href="">Mi cuenta</a></div>
			<hr class="line-divide" />
		</div>
	</body>
</html>
