@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 0,900; 1,100; 1,200; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800; 1.900&display=swap");

* {
	margin: 0;
}

html {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	height: 100%;
	background-color: rgb(240, 242, 245);
}

/*IMG LOGO REGISTER*/
.logontpl {
	width: 90px;
	margin: auto;
	justify-content: center;
	display: flex;
	margin-top: 40px;
	list-style: none;
}
.logontpl img {
	width: 100%;
}

/*FORM REGISTER*/

.form-register {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin: 50px auto;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 450px;
	background-color: #fff;
	padding-bottom: 10px;
}

.cnt-rgt {
	align-items: center;
	margin: 20px auto;
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.cnt-rgt input {
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ccd0d5;
	height: 40px;
	margin-top: 7px;
	outline: none;
	font: 500 12.2px italic "Poppins", sans-serif;
}
.cnt-name {
	font: 500 14.2px "Poppins", sans-serif;
}

.cnt-register {
	align-items: center;
	margin: 10px auto;
	width: 90%;
	font: 500 14.2px "Poppins", sans-serif;
}

.box-cnt {
	margin-top: 7px;
}

.box-form {
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ccd0d5;
	height: 40px;
}

.box-form:focus {
	outline: none;
}

.box-form::placeholder {
	font: 300 12.2px italic "Poppins", sans-serif;
}

/* BUTTOM N TEXT*/

.txt-one {
	margin: 10px auto;
	width: 88%;
	font: 200 13.2px "Poppins", sans-serif;
	color: rgb(128, 138, 161);
}

.btn-success {
	margin: 5px auto;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 35px;
	display: flex;
	border-radius: 4px;
	border: none;
	background-color: rgb(39, 31, 31);
	color: #fff;
	font: 500 14.2px "Poppins", sans-serif;
}
.btn-success:active {
	background-color: #efeaea;
	color: black;
}

.txt-login {
	justify-content: center;
	margin: 5px auto;
	font: 500 14.2px "Poppins", sans-serif;
}

.txt-login a {
	text-decoration: none;
}
